.profilepage__title {
	background: url(https://i.imgur.com/wnBlFa5.png) no-repeat top left;
	width: 1094.5px;
	height: 120px;
	line-height: 120px;
	position: relative;
	left: -16px;
	padding-left: 90px;
	display: flex;
	align-items: center;
}
	.profilepage__title {
		font-size: var(--txt-size-huge);
		font-weight: 800;
		text-transform: uppercase;
	}
	.profilepage__title {
		margin: 50px 0;
	}
	.profilepage__title strong {
		font-weight: 800;
	}
	.profilepage__title:before {
		position: absolute;
		top: -22px;
		right: -83.5px;
		content: " ";
		width: 248px;
		height: 170px;
		background: url(https://i.imgur.com/m3nYWyw.png) no-repeat center;
	}

.profilepage__container {
	width: 1020px;
	height: 490px;
	margin: 0 auto;
	background-color: var(--bg-mid);
	display: flex;
	font-family: var(--txt-font2);
}
	.profilepage__img {
		width: 195px;
		height: 490px;
		position: relative;
	}
		.profilepage__contact {
			position: absolute;
			top: 10px;
			left: 10px;
			display: flex;
			flex-flow: column;
			gap: 10px;
			z-index: 2;
		}
			.profilepage__contact__line {
				background-color: var(--bg-dark);
				border-radius: 4px;
				width: 26px;
				height: 26px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

		.profilepage__img__img img {
			width: 195px;
			height: 490px;
			max-height: inherit!important;
			object-fit: cover;
			opacity: .5;
		}

		.profilepage__img::before {
			content: " ";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 195px;
			height: 490px;
			background-color: var(--affordance);
			mix-blend-mode: color;
			z-index: 1;
		}
	.profilepage__main {
		padding: 27px 30px 20px;
		display: flex;
		gap: 20px;
		flex-flow: column;
	}
		.profilepage__main__rank {
			text-transform: uppercase;
			font-weight: 800;
			font-size: var(--txt-size-inter);
			columns: var(--affordance);
		}

		.profilepage__main__content {
			display: flex;
			gap: 10px;
			flex-flow: column;
			flex-wrap: wrap;
			height: 220px;
			font-size: var(--txt-size-normal);
		}
			.profilepage__main__content__line {
				width: 349px;
				line-height: 1.28;
			}
				.profilepage__main__content__line__title {
					text-transform: uppercase;
					font-weight: 800;
				}
				.profilepage__main__content__line__txt {
					text-transform: lowercase;
				}
		.profilepage__contain {
			position: relative;
			width: 825px;
		}
		.submit-buttons {
			position: absolute;
			top: 5px;
			right: 35px;
		}
			.submit-buttons input {
				background-color: var(--bg-dark);

				transition:  all 0.3s ease-in;
			}
			.submit-buttons input:hover {
				background-color: var(--affordance);

				transition:  all 0.3s ease-in;
			}
	.profilepage__main__links ul {
		display: flex;
		gap: 30px;
		margin-top: 10px;
	}
		.profilepage__main__links a {
			display: block;
			width: 195px;
			text-align: center;
			text-transform: uppercase;
			height: 25px;
			line-height: 25px;
			font-size: var(--txt-size-small);

			transition:  all 0.3s ease-in;
		}
			.profilepage__main__links a:hover {
				background-color: var(--bg-dark);

				transition:  all 0.3s ease-in;
			}

	.profilepage__infos {
		background-color: var(--bg-dark);
		height: 120px;
	}
		.profilepage__infos ul {
			display: flex;
			justify-content: space-between;
		}