.mdm {
	background-image: url(https://i.imgur.com/TdDV24j.png);
}
.roulette {
	background-image: url(https://i.imgur.com/x24KHKN.jpg);
}
.serial {
	background-image: url(https://i.imgur.com/cSIO7nV.jpg);
}
.rince {
	background-image: url(https://i.imgur.com/Ev5v4oH.jpg);
}
.agent {
	background-image: url(https://i.imgur.com/tFDeWPN.jpg);
}
