.mdm {
	background-image: url(https://i.imgur.com/TdDV24j.png);
}
.roulette {
	background-image: url(https://i.imgur.com/tXW5zRF.png);
}
.serial {
	background-image: url(https://i.imgur.com/DciofXM.png);
}
.rince {
	background-image: url(https://i.imgur.com/iJgbSGU.png);
}
.agent {
	background-image: url(https://i.imgur.com/4Y1PkVS.png);
}