.mdm {
	background-image: url(https://i.imgur.com/TdDV24j.png);
}
.roulette {
	background-image: url(https://i39.servimg.com/u/f39/19/54/03/35/lev10.jpg);
}
.serial {
	background-image: url(https://i39.servimg.com/u/f39/19/54/03/35/karu10.jpg);
}
.rince {
	background-image: url(https://i39.servimg.com/u/f39/19/54/03/35/zao10.jpg);
}
.agent {
	background-image: url(https://i39.servimg.com/u/f39/19/54/03/35/hayate10.jpg);
}
