:root {
	--bg-light: #303030;
	--bg-mid: #272727;
	--bg-dark: #1E1E1E;
	--bg-trans: rgba(27, 27, 27, 0.7);

	--txt-clr: #EFEFEF;
	--txt-font1: "Open Sans", sans-serif;
	--txt-font2:  "Supply", monospace;
	--txt-size-mini: 10px;
	--txt-size-small: 12px;
	--txt-size-normal: 14px;
	--txt-size-inter: 18px;
	--txt-size-title: 24px;
	--txt-size-huge: 35px;

	--affordance: #7A45EC;
	--geyster: #377EBC;
	--spetsnaz: #CF3D3D;
	--vrach: #E076D2;
	--lyudi: #A7D49B;
	--lyudi-bg: #80a177;
}

.crimenet {
	background: var(--bg-mid);
	color: var(--txt-clr);
	font-family: var(--txt-font2);
	font-size: var(--txt-size-normal);
	padding: 0;
	margin: 0 auto;
	display: block;
	width: 645px;
}
* {
	box-sizing: border-box;
}
.crimenet a {
	color: var(--txt-clr);
	text-decoration: none;

	transition:  all 0.3s ease-in;
}
.crimenet a:hover {
	color: var(--affordance);

	transition:  all 0.3s ease-in;
}
.crimeheader {
	background-color: var(--bg-dark);
	background-image: url(https://i.imgur.com/BJDC3bz.png);
	background-repeat: no-repeat;
	background-position: 570px 5px;
	background-size: 60px;
	display: block;
}
.crimenet ul {
	padding: 0;
	margin: 0;
}
.crimenet li {
	list-style: none;
}
.logo {
	width: 18px;
	height: 18px;
	margin: 13.5px 28px;
	object-fit: contain;
}
.crimenav {
	display: flex;
	align-items: flex-end;
}
.crimenav ul {
	display: flex;
}
.crimenav li a {
	display: block;
	border-radius: 4px 4px 0 0;
	height: 28px;
	width: 100px;
	padding: 0 14px;
	line-height: 28px;
	position: relative;
	font-size: var(--txt-size-small);
	background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/navclose.svg);
	background-position: 83px 11px;
	background-repeat: no-repeat;

	transition:  all 0.3s ease-in;
}
	.crimenav li a::after {
		position: absolute;
		height: 14px;
		width: 1px;
		top: 8px;
		right: 0;
		content: " ";
		background-color: var(--bg-light);
	}
	.crimenav li a:hover {
		background-color: var(--bg-light);

		transition:  all 0.3s ease-in;
	}
	.crimenav li:first-of-type a {
		background-color: var(--bg-light);
	}
.crimenavsearch {
	background-color: var(--bg-light);
	height: 44px;
	display: flex;
	padding: 0 15px;
	align-items: center;
}
.crimenavsearch input {
	border: none;
	cursor: pointer;
	background-size: contain;
	width: 25px;
    height: 45px;
}
.crimenavsearch ul {
	display: flex;
}
.crimenavsearch li {
	width: 25px;
    height: 45px;
    cursor: pointer;
}
.crimenavsearch__bar {
    flex-grow: 1;
    min-width: 220px;
    height: 34px;
    line-height: 33px;
    border-radius: 38px;
    border: 1px solid var(--bg-dark);
    padding-left: 35px;
    background: url(https://i.imgur.com/iHZDVXK.png) no-repeat left center, url(https://i.imgur.com/bNIpLsW.png) no-repeat right center;
}
	.navsearch__bar a:hover {
		color: var(--affordance);

		transition:  all 0.3s ease-in;
	}

.crimeheader {
	background: url(https://i.imgur.com/TEDsgjp.png) no-repeat center;
	background-size: cover;
	height: 250px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 800;
	text-align: center;
	position: relative;
}
.crimeheader::before {
	content: " ";
	width: 100%;
	height: 250px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--affordance);
	mix-blend-mode: color;
}
.crimeh1 {
	font-size: var(--txt-size-huge);
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1;
}
.crimeheadp {
	font-family: var(--txt-font1);
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1;
}
.crimemain {
	padding: 40px 45px;
	display: flex;
	flex-flow: column;
	gap: 20px;
	display: block;
}
.crimenet strong {
	color: var(--affordance);
	font-weight: 800;
}
.crimecontent {
	line-height: 1.4;
}
.crimecontent p {
	margin: 0;
}

	.crimenavsearchbar {
		background-color: var(--bg-light);
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 15px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	}
		.crimenavsearchbar__symbols ul {
			display: flex;
			margin-left: 11px;
		}
			.crimenavsearchbar__symbols li {
				width: 25px;
				height: 45px;
				cursor: pointer;
			}
				.crimenavsearchbar__symbols li input {
					width: 25px;
					height: 45px;
				}
					.crimenavsearchbar__symbols__back--btn {
						background: url(https://i.imgur.com/ezrE3zL.png) center;

						transition:  all 0.3s ease-in;
					}
						.crimenavsearchbar__symbols__back--btn:hover {
							background: url(https://i.imgur.com/VMMgOxC.png) center;

						transition:  all 0.3s ease-in;
						}
					.crimenavsearchbar__symbols__next--btn {
						background: url(https://i.imgur.com/rmsHk1b.png) center;

						transition:  all 0.3s ease-in;
					}
						.crimenavsearchbar__symbols__next--btn:hover {
							background: url(https://i.imgur.com/vmhYRGN.png) center;

						transition:  all 0.3s ease-in;
						}
					.crimenavsearchbar__symbols__refresh--btn {
						background: url(https://i.imgur.com/WG7Chf0.png) center;
						background-size: cover;
					}
		.crimenavsearchbar__bar {
			flex-grow: 1;
			min-width: 220px;
			height: 34px;
			line-height: 33px;
			border-radius: 38px;
			border: 1px solid var(--bg-dark);
			padding-left: 35px;
			background: url(https://i.imgur.com/iHZDVXK.png) no-repeat left center, url(https://i.imgur.com/bNIpLsW.png) no-repeat right center;
		}

.crimetitle {
	display: block;
	width: fit-content;
	padding: 2px 10px;
	font-family: var(--txt-font2);
	text-transform: uppercase;
	border-radius: 4px;
	background-color: var(--affordance);
	margin: 10px 0 5px 0;
}

.geyster,
.spetsnaz,
.vrach,
.lyudi,
.newbie {
	border-radius: 4px;
	font-size: var(--txt-size-mini);
	font-family: var(--txt-font2);
	text-transform: uppercase;
	padding: 1px 5px;
}
	.geyster {
		background-color: var(--geyster);
	}
	.spetsnaz {
		background-color: var(--spetsnaz);
	}
	.vrach {
		background-color: var(--vrach);
	}
	.lyudi {
		background-color: var(--lyudi-bg);
	}
	.newbie {
		background-color: var(--txt-clr);
		color: var(--bg-dark);
	}

.crimeaccred {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
	margin: 20px 0;
}

.oxford,
.skynet,
.outerhaven,
.env,
.vidocq,
.redmercy {
	width: 255px;
	height: 50px;
	background-color: var(--bg-dark);
	padding-left: 60px;
	border-radius: 4px;
	position: relative;
	line-height: 1.2;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
	.oxford::before,
	.skynet::before,
	.outerhaven::before,
	.env::before,
	.vidocq::before,
	.redmercy::before {
		text-transform: uppercase;
		display: block;
	}
		.oxford::before {
			content: "Oxford";
		}
		.skynet::before {
			content: "Skynet";
		}
		.outerhaven::before {
			content: "Outer Haven";
		}
		.env::before {
			content: "ENV";
		}
		.vidocq::before {
			content: "Vidocq";
		}
		.redmercy::before {
			content: "Red Mercy";
		}
	.oxford::after,
	.skynet::after,
	.outerhaven::after,
	.env::after,
	.vidocq::after,
	.redmercy::after {
		width: 50px;
		height: 50px;
		background-color: var(--bg-light);
		border-radius: 4px;
		background-size: 25px;
		background-position: center;
		background-repeat: no-repeat;
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
	}
		.oxford::after {
			background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/affiliations/oxford.svg);
		}
		.skynet::after {
			background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/affiliations/skynet.svg);
		}
		.outerhaven::after {
			background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/affiliations/outerhaven.svg);
		}
		.env::after {
			background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/affiliations/env.svg);
		}
		.vidocq::after {
			background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/affiliations/vidocq.svg);
		}
		.redmercy::after {
			background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/affiliations/redmercy.svg);
		}
.crimestats,
.crimegroups {
	display: flex;
	position: absolute;
	z-index: 1;
}
.crimestats {
	top: 25px;
	left: Calc(50% - 42px);
	gap: 20px;
}
.crimegroups {
	top: 195px;
	right: Calc(50% - 295px);
	gap: 10px;
}
	.crimemembers,
	.messages {
		font-size: var(--txt-size-normal);
		font-weight: 800;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
	}
		.crimemembers::before,
		.messages::before {
			display: block;
			content: " ";
			width: 30px;
			height: 30px;
		}
		.crimemembers::before {
			background: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/members.svg) no-repeat center;
		}
		.messages::before {
			background: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/sujets.svg) no-repeat center;
		}
	.crimegroups li {
		width: 140px;
		text-transform: uppercase;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		background-color: var(--bg-dark);
		border-radius: 4px;
		padding: 2px 5px;
		display: flex;
		font-family: var(--txt-font1);
	}
		.geyster {
			color: var(--geyster);
		}
		.spetsnaz {
			color: var(--spetsnaz);
		}
		.vrach {
			color: var(--vrach);
		}
		.lyudi {
			color: var(--lyudi);
		}
			.geyster::before,
			.spetsnaz::before,
			.vrach::before,
			.lyudi::before {
				content: " ";
				width: 12px;
				height: 12px;
				display: block;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
			.geyster::before {
				background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/groupes/geyster_clr.svg);
			}
			.spetsnaz::before {
				background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/groupes/spetsnaz_clr.svg);
			}
			.vrach::before {
				background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/groupes/vrach_clr.svg);
			}
			.lyudi::before {
				background-image: url(https://cdn.statically.io/gh/crimenetseth/crimenet/main/svgs/groupes/lyudi_clr.svg);
			}
			.geyster::after,
			.spetsnaz::after,
			.vrach::after,
			.lyudi::after {
				color: var(--txt-clr);
				font-weight: 400;
				font-family: var(--txt-font2);
			}
			.geyster::after {
				content: "Geyster";
			}
			.spetsnaz::after {
				content: "spetsnaz";
			}
			.vrach::after {
				content: "vrach";
			}
			.lyudi::after {
				content: "lyudi";
			}