.gabrieldurand {
	background-image: url(https://i.imgur.com/Lt5DhOC.png);
}
.dorisokada {
	background-image: url(https://i.imgur.com/rNhjQNq.png);
}
.iwaoshibata {
	background-image: url(https://i.imgur.com/5woSd0G.png);
}
.jalalelouamad {
	background-image: url(https://i.imgur.com/C8jEoys.png);
}
.joewilson {
	background-image: url(https://i.imgur.com/P4EbZbA.png);
}
.freyareed {
	background-image: url(https://i.imgur.com/XY7y6g0.png);
}
.solangedumarchais {
	background-image: url(https://i.imgur.com/lfBwoyW.png);
}
.melodyreese {
	background-image: url(https://i.imgur.com/Ru88ob3.png);
}
.emilludgren {
	background-image: url(https://i.imgur.com/9X1swOV.png);
}
.johannborlund {
	background-image: url(https://zupimages.net/up/22/40/nfij.png);
}
.violetthompson {
	background-image: url(https://zupimages.net/up/22/40/6pct.png);
}
.ragnargustafsson {
	background-image: url(https://zupimages.net/up/22/40/i98l.jpg);
}
