.gabrieldurand {
	background-image: url(https://i.imgur.com/Lt5DhOC.png);
}
.dorisokada {
	background-image: url(https://i.imgur.com/rNhjQNq.png);
}
.iwaoshibata {
	background-image: url(https://i.imgur.com/5woSd0G.png);
}
.joewilson {
	background-image: url(https://i.imgur.com/P4EbZbA.png);
}
.emilludgren {
	background-image: url(https://i.imgur.com/9X1swOV.png);
}

.violetthompson {
	background-image: url(https://zupimages.net/up/22/40/114z.png);
}
.ragnargustafsson {
	background-image: url(https://zupimages.net/up/22/40/n5ae.png);
}
.arishaong {
	background-image: url(https://zupimages.net/up/22/41/0jbj.png);
}
.wyattdavid {
	background-image: url(https://i.imgur.com/AStWtw1.jpg);
}
.monikahallmann {
	background-image: url(https://i.imgur.com/kRLNzBP.jpg);
}
.benedicthoward {
	background-image: url(https://i.ibb.co/zRhgB7v/Benedict.jpg);
}
